* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  background-color: #dcdcdc;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

h1 {
  font-size: 48px;
  text-align: center;
  font-family: "Press Start 2P";
  text-transform: uppercase;
  margin-top: 30px;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clicker-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 600px;
  transition: transform 0.1s;
  cursor: pointer;
}

img:hover {
  transform: scale(1.1);
}

img:active {
  transform: scale(1);
}

#score {
  text-align: center;
  font-size: 42px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

#reset-btn {
  border-radius: 15px;
  padding: 15px 55px;
  border: none;
  cursor: pointer;
  background-color: #f4a261;
  margin-bottom: 20px;
  transition: 0.3s ease;
}

#reset-btn:hover {
  transform: scale(1.05);
  background-color: #f6b680;
}

#reset-btn:active {
  background-color: #d67b34;
}

footer {
  width: 100%;
  margin-top: auto;
  margin-bottom: 20px;
}

.copyrights p {
  text-align: center;
  font-size: 12px;
  color: #444;
}

@media (max-width: 768px) {
  img {
    width: 400px;
  }
  h1 {
    font-size: 28px;
  }
}

@media (max-width: 1024px) {
  img {
    width: 500px;
  }
  h1 {
    font-size: 32px;
  }
}
